{% extends 'base.html' %}
{% block content %}

<h1>Store Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ store.name }}</span>
        <p>Size: {{ store.size }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'stores_update' store.id %}">Edit</a>
        <a href="{% url 'stores_delete' store.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}